{% extends 'index.html' %}
{% block title %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {{ request.user }}
        <a href="{% url 'logout' %}">Logout</a>
        <h4><a href="{% url 'create' %}">Create new post</a></h4>
    {% else %}
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <h2>POSTS:</h2>
    {% for post in posts %}
        <div>

            <h2>Post name: <a href="{% url 'post' post.id %}">{{ post.theme }}</a> |
                {% if post.user == request.user %}
                    <a href="{% url 'update' post.id %}">Update</a></h2>
                {% endif %}
            {% if user.is_superuser %}
                 <a href="{% url 'delete' post.id %}">Delete</a>
            {% endif %}
        </div>
        <div>

        </div>
    {% endfor %}

{% endblock %}